@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Red Rose", serif;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

input:focus,
select:focus {
    outline-color: green;
}