@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Red Rose", serif;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

input:focus,
select:focus {
    outline-color: green;
}

.loader {
    border-radius: 50%;
    border-top: 3px solid white;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite forwards;
}

@keyframes shimmer {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}
.progress-shimmer {
  background-size: 200% auto;
  animation: shimmer 2s linear infinite;
}